:root {
	/*-----------------
	COLOURS
	-----------------*/
	/* Primary */

	/* Secondary */

	/* Tertiary */

	/*-----------------
	FONTS	
	-----------------*/
	/* Title */

	/* Bodytext */

	/*-----------------
    DESIGN TOKENS
	-----------------*/

  	/* Spacings */
    

	/* Font scale */

	/* Font weights */

	/* Border radius */
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body > div {
	font-size: 16px;
	line-height: 1.2;

	/* footer on bottom */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


/* footer on bottom */
main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

footer {
	margin-top: auto;
}

ul {
	list-style: none;
}

section {
	border: 1px solid black;
}

/*-----------------
LAYOUT UTILS	
-----------------*/

/*-----------------
A11Y UTILS	
-----------------*/

/*-----------------
QUERIES
-----------------*/

/* Tablet */
@media screen and (min-width: 400px) {
	/* insert properties */
}


/* Desktop */
@media screen and (min-width: 800px) {
	/* insert properties */
}


/* Large desktop */
@media screen and (min-width: 800px) {
	/* insert properties */
}