:root {
	/*-----------------
	COLOURS
	-----------------*/
	/* Primary */

	/* Secondary */

	/* Tertiary */

	/*-----------------
	FONTS	
	-----------------*/
	/* Title */

	/* Bodytext */

	/*-----------------
    DESIGN TOKENS
	-----------------*/

  	/* Spacings */

	/* Font scale - 1.200 Minor Third */

	/* Font weights */

	/* Border radius */
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	font-size: 16px;
	line-height: 1.2;
}

/*-----------------
LAYOUT UTILS	
-----------------*/

/*-----------------
A11Y UTILS	
-----------------*/

/*-----------------
QUERIES
-----------------*/

/* Tablet */
@media screen and (min-width: 400px) {
	/* insert properties */
}


/* Desktop */
@media screen and (min-width: 800px) {
	/* insert properties */
}


/* Large desktop */
@media screen and (min-width: 800px) {
	/* insert properties */
}